<!DOCTYPE html>
<html lang="es">

<!-- Import del HEAD del documento -->
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - Carrito de compras",
    description: "¿Ya encontraste lo que buscabas? ¡El producto se encuentra a un sólo click de distancia!",
    keywords: "Workplace Station, carrito de compras"}) %> 

<body>

    <%- include("../partials/header") %>
    
    <main class="main-cart">
        <h1>Carrito de compras</h1>
        <section class="cart-container">
            <div class="cart-products">
                <article class="cart-item">
                    <img src="/img/our-products-chair.jpg" alt="">
                    <div class="cart-item-info">
                        <h2>Titulo de producto</h2>
                        <p><span>$10.000</span></p>
                        <div class="cart-item-actions">
                            <div class="quantity-selector">
                                <button>-</button>
                                <span>1</span>
                                <button>+</button>
                            </div>
                            <button class="cart-actions-empty">Eliminar</button>
                        </div>
                    </div>
                </article>
                <article class="cart-item">
                    <img src="/img/our-products-chair.jpg" alt="">
                    <div class="cart-item-info">
                        <h2>Titulo de producto</h2>
                        <p><span>$10.000</span></p>
                        <div class="cart-item-actions">
                            <div class="quantity-selector">
                                <button>-</button>
                                <span>1</span>
                                <button>+</button>
                            </div>
                            <button class="cart-actions-empty">Eliminar</button>
                        </div>
                    </div>
                </article>
                <article class="cart-item">
                    <img src="/img/our-products-chair.jpg" alt="">
                    <div class="cart-item-info">
                        <h2>Titulo de producto</h2>
                        <p><span>$10.000</span></p>
                        <div class="cart-item-actions">
                            <div class="quantity-selector">
                                <button>-</button>
                                <span>1</span>
                                <button>+</button>
                            </div>
                            <button class="cart-actions-empty">Eliminar</button>
                        </div>
                    </div>
                </article>
            </div>
            <div class="cart-summary">
                <div class="cart-summary-note-container">
                    <span>Agregar nota de orden:</span>
                    <textarea name="note" id="" cols="30" rows="4" placeholder="¿Podemos ayudarte? Dejá cualquier comentario que consideres necesario..."></textarea>
                </div>
                <p>Total: <span>$10.000</span></p>
            </div>
            <div class="cart-actions">
                <button class="action-button">Comprar</button>
                <button class="cart-actions-empty">Vaciar carrito</button>
            </div>
        </section>
    </main>

    <!-- Import del footer -->
    <%- include("../partials/footer") %>

</body>

</html>