[
    {
        "id": 1,
        "name": "Estación de trabajo",
        "briefDescription": "Conjunto de Escritorio, silla ergonómica accesorios",
        "price": 50000,
        "discount": 5,
        "stock": 5,
        "color": "#000000",
        "category": 1,
        "images": [
            "image1-1-1598154931386.jpg"
        ],
        "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
        "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
    },
    {
        "id": 2,
        "name": "Silla ergonómica gamer",
        "briefDescription": "Silla ergonómica gamer negra y roja",
        "price": 20000,
        "discount": 0,
        "stock": 15,
        "color": "#000000",
        "category": 3,
        "images": [
            "image1-1-1598154931386.jpg"
        ],
        "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
        "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
    },
    {
        "id": 3,
        "name": "Kit gamer",
        "briefDescription": "Teclado, mouse, auriculares, joystick y mousepad",
        "price": 15000,
        "discount": 15,
        "stock": 11,
        "color": "#000000",
        "category": 4,
        "images": [
            "image1-1-1598154931386.jpg"
        ],
        "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
        "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
    },
    {
        "id": 4,
        "name": "Título del producto",
        "briefDescription": "probando breve descripción",
        "price": 10000,
        "discount": 25,
        "stock": 12,
        "color": "#000000",
        "category": 2,
        "images": [
            "image1-1-1598154931386.jpg"
        ],
        "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
        "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
    },
    {
        "id": 5,
        "name": "Título del producto",
        "briefDescription": "Probando breve descripción",
        "price": 8000,
        "discount": 0,
        "stock": 12,
        "color": "#000000",
        "category": 1,
        "images": [
            "image1-1-1598154931386.jpg"
        ],
        "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
        "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
    },
    {
        "id": 6,
        "name": "Kit accesorios gamer pro",
        "briefDescription": "Probando breve descripción",
        "price": 8000,
        "discount": 0,
        "stock": 12,
        "color": "#000000",
        "category": 3,
        "images": [
            "image1-1-1598154931386.jpg"
        ],
        "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
        "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
    },
    {
        "id": 7,
        "name": "Producto prueba",
        "briefDescription": "cargando producto desde form",
        "price": 1233,
        "discount": 0,
        "stock": 12,
        "color": "#000000",
        "category": 4,
        "images": [
            "image1-1-1598154931386.jpg"
        ],
        "description": "cargando producto desde form eeee",
        "aditionalInfo": "cargando producto desde form eeeeeeeeeeeeeeeeeeeeeeeeeeeee"
    },
    {
        "id": 8,
        "name": "Silla de oficina ergonómica",
        "briefDescription": "qwertyuiop",
        "price": 12000,
        "discount": 5,
        "stock": 10,
        "color": "#000000",
        "category": 3,
        "images": [
            "image1-1-1598154931386.jpg"
        ],
        "description": "jtyj",
        "aditionalInfo": "yjtyj"
    }
]