[
 {
  "id": 1,
  "name": "Silla ergonómica",
  "briefDescription": "Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola",
  "price": 20000,
  "discount": 10,
  "stock": 8,
  "color": #000000,
  "category": 3,
  "image": "/img/our-products-chair.jpg",
  "description": "Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola",
  "aditionalInfo": "Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola"
 },
 {
  "id": 2,
  "name": "Escritorio Black & White",
  "briefDescription": "Escritorio moderno de diseño con gabinete de guardado",
  "price": 15000,
  "discount": 0,
  "stock": 5,
  "color": null,
  "category": "2",
  "image": "/img/our-products-desks.jpg",
  "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
  "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
 },
 {
  "id": 3,
  "name": "Kit ordenador escritorio",
  "briefDescription": "Lapicero, ordenador de carpetas y ordenador de documentos",
  "price": 800,
  "discount": 0,
  "stock": 20,
  "color": null,
  "category": "4",
  "image": "/img/our-products-accesories.jpg",
  "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
  "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
 },
 {
  "id": 4,
  "name": "Estación de trabajo Home Office",
  "briefDescription": "Estación de trabajo completa modelo Home Office",
  "price": 35000,
  "discount": 10,
  "stock": 5,
  "color": null,
  "category": "1",
  "image": "/img/our-products-workplace-station.jpg",
  "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
  "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
 }
 {
  "id": 5,
  "name": "Silla ergonómica",
  "briefDescription": "Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola",
  "price": 20000,
  "discount": 10,
  "stock": 8,
  "color": #000000,
  "category": 3,
  "image": "/img/our-products-chair.jpg",
  "description": "Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola",
  "aditionalInfo": "Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola Silla de escritorio ergonómica con regulación en altura, inclinación y rueditas re piola"
 },
 {
  "id": 6,
  "name": "Escritorio Black & White",
  "briefDescription": "Escritorio moderno de diseño con gabinete de guardado",
  "price": 15000,
  "discount": 0,
  "stock": 5,
  "color": null,
  "category": "2",
  "image": "/img/our-products-desks.jpg",
  "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
  "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
 },
 {
  "id": 7,
  "name": "Kit ordenador escritorio",
  "briefDescription": "Lapicero, ordenador de carpetas y ordenador de documentos",
  "price": 800,
  "discount": 0,
  "stock": 20,
  "color": null,
  "category": "4",
  "image": "/img/our-products-accesories.jpg",
  "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
  "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
 },
 {
  "id": 8,
  "name": "Estación de trabajo Home Office",
  "briefDescription": "Estación de trabajo completa modelo Home Office",
  "price": 35000,
  "discount": 10,
  "stock": 5,
  "color": null,
  "category": "1",
  "image": "/img/our-products-workplace-station.jpg",
  "description": "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur mollitia ipsa culpa deserunt dicta neque sint, at eveniet, dolorem nisi distinctio natus aliquam.",
  "aditionalInfo": "Ab suscipit ipsa repudiandae consectetur nulla harum at quos vitae deserunt officia, fuga dolorum voluptates veniam dolor quo impedit, neque architecto aperiam, corporis nam."
 }
]