[
 {
  "id": 1,
  "name": "",
  "briefDescription": "probando breve descripción",
  "price": 0,
  "discount": 0,
  "stock": 0,
  "color": #000000,
  "category": "",
  "image": "/img/image.jpg",
  "secondImage": "/img/image-2.jpg",
  "thirdImage": "/img/image-3.jpg",
  "description": "",
  "aditionalInfo": ""
 }
]