/* VARIABLES */
:root {
    /* COLORS */
    /* Logo colors */
    --logo-color-1: #3498db;
    --logo-color-2: #85c1e9;
    --logo-color-3: #D6EAF8;
    --logo-color-4: #f0ffff;
    /* Background colors */
    --background-1: #ebebeb;
    --background-2: #283e4a;
    --background-3: #ffffff; 
    /* Text colors */
    --title-dark-blue: #283e4a;
    --text-dark-gray: #333333;
    --text-light-gray: #666666;
    --text-light: #f0ffff;
    /* Alert colors */
    --text-alert: #EF1010;
    /* FONTS */
    --title-font: 'Montserrat', sans-serif;
    --text-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* FOR ALL */
* {
    box-sizing: border-box;
    text-decoration: none;
}
/* BODY */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
    margin: 0;

    font-family: var(--text-font);
    color: var(--text-dark-gray);
    background-color: var(--background-1);
}
/* HEADER */
header {
    display: flex;
    flex-direction: column;
    padding: 10px;

    font-family: var(--title-font);
    color: var(--text-light);
    background-color: var(--background-2);
}
    .site-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
        .site-header-center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .site-header-center-img-1 {
                width: 75px;
            }
            .site-header-center-img-2 {
                width: 250px;
            }
            .site-header-start i,
            .site-header-end i {
                font-size: 24px;
                color: var(--logo-color-3);
            }
    .site-cart {
        display: flex;
        justify-content: center;
        align-self: center;
        position: fixed;
        bottom: 5vw;
        right: 5vw;

        width: 55px;
        height: 55px;
        border-radius: 50%;
        /* border: solid 1px var(--background-2); */
        font-size: 18px;
        background-color: var(--logo-color-4);
        box-shadow: 4px 4px 5px rgba(0,0,0,0.45);
    }
        .site-cart i {
            align-self: center;
            color: var(--background-2);
        }
    .mobile-nav-side-bar {
        display: none; /* Alternará entre none y flex */
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;

        width: 75vw;
        height: 100vh;
        padding: 10px;

        color: var(--title-dark-blue);
        background-color: var(--background-1);
    }
        .mobile-nav-side-bar-close-button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 50vh;
            right: 5vw;
            
            width: 55px;
            height: 55px;
            border-radius: 50%;
            font-size: 18px;
            color: var(--background-2);
            background-color: var(--logo-color-4);
            box-shadow: 4px 4px 5px rgba(0,0,0,0.45);
        }
        .mobile-nav-side-bar-content {
            display: flex;
            flex-direction: column;

            color: var(--background-2);
        }
            .mobile-nav-side-bar-content-search-bar {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 30px 0;;
            }
                .mobile-nav-side-bar-content-search-bar input {
                    padding: 5px 10px;
                    border-radius: 5px;
                    border-style: none;

                    box-shadow: 2px 4px 3px rgba(0,0,0,0.35);
                    background-color: var(--logo-color-4);

                    font-family: var(--text-font);
                    font-size: 1em;
                }
                .mobile-nav-side-bar-content-search-bar button {
                    width: 40px;
                    padding: 5px;
                    border-style: none;
                    border-radius: 5px;
                    box-shadow: 2px 4px 3px rgba(0,0,0,0.35);
                    background-color: var(--title-dark-blue);
                    color: var(--text-light);
                }
            .mobile-nav-side-bar-content ul{
                padding: 5px;
                margin: 10px;
                
                list-style: none;
                font-weight: bold;
                font-size: 18px;
            }
                .mobile-nav-side-bar-content ul li {
                    padding: 10px;
                    border-bottom: solid 1px var(--background-2);
                }
                    .mobile-nav-side-bar-content ul li a {
                        color: var(--title-dark-blue);
                    }
                    .mobile-nav-side-bar-content ul li p {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0;
                    }
                        .mobile-nav-side-bar-content ul li p .fa-minus{
                            display: none;
                        }
                    .mobile-nav-side-bar-content ul li ul li {
                        padding: 5px;
                        border: none;
                        font-size: 16px;
                    }

            .mobile-nav-side-bar-content-products {
                /* display: none;  */
            }
/* MAIN */
main {
    flex-grow: 1;

    background-color: var(--background-1);
}
.main-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
    .main-index section{
        width: 100vw;
        flex-grow: 1;
    }
    .main-index section h2 {
        font-family: var(--title-font);
        font-size: 24px;
        font-weight: 800;
        padding: 5px;
        margin: 10px;
    }
    .photo-carousel img {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .featured-products {
        text-align: center;
    }
        .featured-products div {
            width: 100vw;
            height: 400px;
            background-color: white;
        }
    .why-us {
        padding: 10px;
        text-align: center;
        color: var(--text-light);
        background-color: var(--background-2);
    }
        .why-us-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
            .why-us-container article {
            width: 75%;
            margin: 20px 0;
            }
            .why-us-container article i {
            font-size: 36px;
            color: #fbd581;
            
            }
            .why-us-container article h3 {
                font-family: var(--title-font);
                font-size: 18px;
                font-weight: bold;
                margin: 15px 0;
            }
            .why-us-container article p {
                font-family: var(--text-font);
                margin: 0;
            }
    .our-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
        .our-products h2 {
            font-size: 24px;
            color: var(--title-dark-blue);
            font-family: var(--title-font);
        }
        .our-products article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 315px;
            height: 315px;
            margin: 20px auto;
            font-family: var(--title-font);
            box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
        }
            .our-products-workplace-stations {
                background-image: url(/img/our-products-workplace-station.jpg);
                background-size: cover;
            }
            .our-products-desks {
                background-image: url(/img/our-products-desks.jpg);
                background-size: cover;
            }
            .our-products-chairs {
                background-image: url(/img/our-products-chair.jpg);
                background-size: cover;
            }
            .our-products-accesories {
                background-image: url(/img/our-products-accesories.jpg);
                background-size: cover;
            }
                .our-products article h4 {
                    padding: 5px;
                    margin: 10px;

                    border-radius: 3px;
                    
                    color: var(--title-dark-blue);
                    background-color: rgba(255, 255, 255, 0.8);
                    box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
                }
                .our-products article button {
                    margin: 10px;
                    padding: 5px;

                    border-radius: 3px;
                    border: 0;

                    font-family: var(--title-font);
                    font-weight: 600;
                    font-size: 16px;
                    color: var(--text-light);
                    background-color: var(--background-2);
                    box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
                }
/* FOOTER */
footer {
    padding: 10px;
    text-align: center;
    font-family: var(--text-font);
    color: var(--text-light);
    background-color: var(--background-2);
}
    footer p {
        margin: 0;
    }
/* Forms de registro y login */
.main-form-container{
    margin: 10vh 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .form-container{
        width: 90%;
        padding: 10px;
        align-self: center;

        background-color: var(--background-3);
        border-radius: 3px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
    }
        .form-container h1{
            margin-top: 10px;
            color: var(--title-dark-blue);
            font-style: italic;
            text-align: center;
        }
        .form-container form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .form-container form input{
                width: 80%;
                margin-bottom: 15px;
                padding: 5px 10px;
                border-radius: 5px;

                font-family: var(--text-font);
                font-size: 1em;
                
                border-style: none;
                box-shadow: 2px 4px 3px rgba(0,0,0,0.35);
                background-color: var(--logo-color-4);
            }
            .form-container form input:focus { /* Cambia el estilo resaltando el input al seleccionarlo */
                background-color: var(--logo-color-3);
                box-shadow: 1px 1px 5px var(--logo-color-1);
            }
            .form-container form a{
                margin-bottom: 5px;
                font-size: 0.9em;
                text-decoration: none;
                color: var(--title-dark-blue);
            }
            #login-alert{
                margin: 15px 0px 0px;
                color: var(--text-alert);
                text-align: center;
                font-weight: bold;
                display: none;
            }
            .submit-button{
                width: 35%;
                margin: 15px 0px;
                padding: 5px;

                background-color: var(--title-dark-blue);
                color: var(--text-light);
                border-style: none;
                border-radius: 5px;

                font-weight: bold;
                font-size: 0.9em;
            }
        
