/* VARIABLES */
:root {
    /* COLORS */
    /* Logo colors */
    --logo-color-1: #3498db;
    --logo-color-2: #85c1e9;
    --logo-color-3: #D6EAF8;
    --logo-color-4: #f0ffff;
    /* Background colors */
    --background-1: #ebebeb;
    --background-2: #283e4a;
    --background-3: #ffffff; 
    /* Text colors */
    --title-dark-blue: #283e4a;
    --text-dark-gray: #333333;
    --text-light-gray: #666666;
    --text-light: #f0ffff;
    /* Alert colors */
    --text-alert: #EF1010;
    /* FONTS */
    --title-font: 'Montserrat', sans-serif;
    --text-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* DIMENSIONES */
    --checkable-dimension: 16px;
}
/* FOR ALL */
* {
    box-sizing: border-box;
    text-decoration: none;
}
a {
    color: inherit;
}
p {
    font-family: var(--text-font);
    font-size: 1rem;
    color: var(--text-dark-gray);
}
h1 {
    font-family: var(--title-font);
    font-size: 2rem;
    color: var(--title-dark-blue);
}
h2 {
    font-family: var(--title-font);
    font-size: 1.5rem;
    color: var(--title-dark-blue);
}
.asterisk {
    color: red;
}
/* BODY */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
    margin: 0;

    font-size: 16px;
    font-family: var(--text-font);
    color: var(--text-dark-gray);
    background-color: var(--background-1);
}
/* HEADER */
header {
    display: flex;
    flex-direction: column;
    font-family: var(--title-font);
    color: var(--text-light);
    background-color: var(--background-2);
}
    .site-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
        .site-header-start {
            padding: 0;
            background-color: var(--background-2);
            border-style: none;
            align-self: stretch;
            flex-grow: 1;
            cursor: pointer;
        }
        .site-header-end {
            padding: 0;
            background-color: var(--background-2);
            border-style: none;
            align-self: stretch;
            flex-grow: 1;
            cursor: pointer;
        }
        .site-header-center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .site-header-center-img-1 {
                margin-top: 5px;
                width: 75px;
            }
            .site-header-center-img-2 {
                width: 270px;
            }
            .site-header-start i,
            .site-header-end i {
                font-size: 24px;
                color: var(--logo-color-3);
            }
    .site-cart {
        display: flex;
        justify-content: center;
        align-self: center;
        position: fixed;
        bottom: 5vw;
        right: 5vw;
        z-index: 10000;

        width: 60px;
        height: 60px;
        border-radius: 50%;
        border-style: none;
        font-size: 24px;
        background-color: var(--logo-color-1);
        box-shadow: 4px 4px 5px rgba(0,0,0,0.45);
    }
        .site-cart i {
            align-self: center;
            color: var(--logo-color-4);
        }
        .site-cart a {
            align-self: center;
        }
    .site-cart-side-bar {
        display: none; /* Alternará entre none y flex */
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1;

        width: 75vw;
        height: 100vh;
        padding: 10px;

        color: var(--title-dark-blue);
        background-color: var(--background-1);
        box-shadow: 0px 0px 10px #666;
    }
        .site-cart-side-bar-close-button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 50vh;
            left: 5vw;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border-style: none;
            font-size: 24px;
            color: var(--logo-color-4);
            background-color: var(--background-2);
            box-shadow: 4px 4px 5px rgba(0,0,0,0.45);
        }
    .mobile-nav-side-bar {
        display: none; /* Alternará entre none y flex */
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;

        width: 75vw;
        height: 100vh;
        padding: 10px;

        color: var(--title-dark-blue);
        background-color: var(--background-1);
        box-shadow: 0px 0px 10px #666;
    }
        .mobile-nav-side-bar-close-button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 50vh;
            right: 5vw;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border-style: none;
            font-size: 24px;
            color: var(--logo-color-4);
            background-color: var(--background-2);
            box-shadow: 4px 4px 5px rgba(0,0,0,0.45);
        }
        .mobile-nav-side-bar-content {
            display: flex;
            flex-direction: column;

            color: var(--background-2);
        }
            .mobile-nav-side-bar-content-search-bar {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 30px 0;;
            }
                .mobile-nav-side-bar-content-search-bar input {
                    height: 50px;
                    padding: 5px 10px;
                }
                .mobile-nav-side-bar-content-search-bar button {
                    width: 50px;
                    height: 50px;
                    padding: 5px;
                    border-radius: 5px;
                    font-size: 18px;
                }
            .mobile-nav-side-bar-content ul{
                padding: 5px;
                margin: 10px;
                
                list-style: none;
                font-weight: bold;
                font-size: 18px;
            }
                .mobile-nav-side-bar-content ul li {
                    padding: 10px;
                    border-bottom: solid 1px var(--background-2);
                }
                    .mobile-nav-side-bar-content ul li a {
                        color: var(--title-dark-blue);
                    }
                    .mobile-nav-side-bar-content ul li p {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0;
                    }
                        .mobile-nav-side-bar-content ul li p .fa-minus{
                            display: none;
                        }
                    .mobile-nav-side-bar-content ul li ul li {
                        padding: 5px;
                        border: none;
                        font-size: 16px;
                    }
/* MAIN */
main {
    flex-grow: 1;
    background-color: var(--background-1);
    display: flex;
    flex-direction: column;
}
/* FOOTER */
footer {
    padding-top: 10px;
    text-align: center;
    font-family: var(--text-font);
    color: var(--text-light);
    background-color: var(--background-2);

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
    .footer-logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .footer-logo img:first-child{ width: 15%; }
        .footer-logo img:last-child{ width: 70%; }

    footer section:nth-child(2){ margin: 15px 0; }
        footer section ul{ 
            list-style: none; 
            margin-right: 10vw;
            text-align: center;
            width:100%;
            padding: 0;
        }
        footer section ul li a { 
            text-decoration: none; 
            color: var(--text-light)
        }
        footer section h2{
            color: var(--text-light); 
            font-size: 1.2rem;
        }
        footer section p{ 
            padding: 5px 0;
            color: var(--text-light);
            background-color: black;
            margin-bottom: 0; 
            font-size: 0.7em;
        }
/* Estilos reutilizables de uso general */
.action-button{ 
    /* Botones de acción que no sean flotantes */
    width: 40%;
    margin: 15px 0px;
    padding: 5px;

    cursor: pointer;
    background-color: var(--background-2);
    color: var(--text-light);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.35);
    border-style: none;
    border-radius: 3px;

    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.input-text,
.input-textarea {
    /* imputs de taxto característicos de la página */
    background-color: var(--logo-color-4);
    box-shadow: 2px 4px 3px rgba(0,0,0,0.35);
    font-family: var(--text-font);
    font-size: 1em;
    border-radius: 5px;
    border-style: none;
}
.input-text:focus{
    background-color: var(--logo-color-3);
    box-shadow: 1px 1px 5px var(--logo-color-1);
}
/* INDEX */
.main-index {
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
    .main-index section{
        width: 100vw;
        flex-grow: 1;
    }
    .main-index section h2 {
        font-family: var(--title-font);
        font-weight: 800;
        padding: 5px;
        margin: 10px;
        text-align: center;
    }
    .photo-carousel img {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .about-us-home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 10px 20px 10px;
    }
        .main-index .about-us-home h2 {
            margin-bottom: 20px;
        }
        .about-us-home article {
            display: inherit;
            flex-direction: column;
            justify-content: center;
            width: 90%;
        }
            .about-us-home .action-button {
                width: 30%;
                align-self: center;
            }
    .why-us {
        padding: 10px;
        text-align: center;
        color: var(--text-light);
        background-color: var(--background-2);
    }
        .why-us h2 {
            color: var(--text-light);
        }
        .why-us-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
            .why-us-container article {
            width: 75%;
            margin: 20px 0;
            }
            .why-us-container article i {
            font-size: 36px;
            color: #fbd581;
            
            }
            .why-us-container article h3 {
                font-family: var(--title-font);
                font-size: 1.25rem;
                font-weight: bold;
                margin: 15px 0;
            }
            .why-us-container article p {
                font-family: var(--text-font);
                margin: 0;
                color: var(--text-light);
            }
    .our-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
        .our-products h2 {
            color: var(--title-dark-blue);
            font-family: var(--title-font);
        }
        .our-products article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 315px;
            height: 315px;
            margin: 20px auto;
            font-family: var(--title-font);
            box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
        }
            .our-products-workplace-stations {
                background-image: url(/img/our-products-workplace-station.jpg);
                background-size: cover;
            }
            .our-products-desks {
                background-image: url(/img/our-products-desks.jpg);
                background-size: cover;
            }
            .our-products-chairs {
                background-image: url(/img/our-products-chair.jpg);
                background-size: cover;
            }
            .our-products-accesories {
                background-image: url(/img/our-products-accesories.jpg);
                background-size: cover;
            }
                .our-products article h3 {
                    padding: 5px;
                    margin: 10px;

                    border-radius: 3px;
                    
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: var(--title-dark-blue);
                    background-color: rgba(255, 255, 255, 0.8);
                    box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
                }
                .our-products article button, 
                .about-us-home article button {
                    width: auto;
                    margin: 10px;
                    padding: 5px;
                }
                    .our-products article button a,
                    .about-us-home article button a{
                        color: var(--text-light);
                        font-family: var(--title-font);
                        font-weight: 600;
                        font-size: 1rem;
                    }
/* Forms de registro y login */
.alert-label{
    display: none;
    color: var(--text-alert);

    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}
.main-form-container{
    margin: 5vh 0px;
    justify-content: center;
}
    .form-container{
        width: 90%;
        padding: 10px;
        align-self: center;

        background-color: var(--background-3);
        border-radius: 3px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
    }
        .form-container h1{
            margin-top: 10px;
            color: var(--title-dark-blue);
            font-style: italic;
            text-align: center;
        }
        .form-container form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .form-container form input,
        .form-container form textarea,
        .form-container form select {
                width: 80%;
                margin-bottom: 15px;
                padding: 5px 10px;
            }
            .form-container form a{
                margin-bottom: 5px;
                font-size: 1rem;
                text-decoration: none;
                color: var(--title-dark-blue);
            }
                .form-container form a:hover {
                    text-decoration: underline;
                }
            .form-container form .checkable-container{
                margin-bottom: 10px;
                color: var(--title-dark-blue);
            }
                .gender-radio-container .checkable-container{
                    width: 80%;
                }
                .form-container form .remember-me-container{width: auto;}
                
                    .form-container form .checkable-container .remember-me-checkable{
                        bottom: calc(var(--checkable-dimension) / 10);
                        left: calc( -1.3 * var(--checkable-dimension));
                    }
            #login-alert{margin-top: 15px;}
/* Estilos específicos del formulario de registro */
.input-label{ 
    font-size: 1.2em;
    color: var(--text-light-gray);
    text-align: center;
}
.gender-radio-container,
.interests-checkbox-container{
    color: var(--text-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gender-radio-container{
    width: 50%;
    margin: 20px 0px;
}
    /* Anula el estilo por defecto del input tipo file y usa una 
       etiqueta con el estilo de los botones de formularios */
    #profile-photo, #imagesUpload{ display: none; }
    /* Anulación del estilo por defecto de radio buttons y 
       checboxes y aplicación de estilo propio */
    .checkable-container{
        display: block;
        position: relative;
        cursor: pointer;
        width: 100%;
        /* Deja sobreescribir la apariencia del elemento */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
        .gender-radio-container label:first-child,
        .interests-checkbox-container label:first-child{
            margin-bottom: 10px;
            font-size: 1.5em;
        }
        .checkable-container input{
            /* Oculta el selector por defecto */
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
            cursor: pointer;
        }
        .custom-checkable{
            /* Radio button con estilo propio */
            position: absolute;
            bottom: 0;
            right: calc( -2 * var(--checkable-dimension));
            height: var(--checkable-dimension);
            width: var(--checkable-dimension);

            background-color: var(--background-1);
            border-radius: 50%;
        }
        /* Fondo al pasar el cursor */
        .checkable-container:hover .custom-checkable{ background-color: var(--logo-color-2); }
        /* Fondo al ser seleccionado */
        .checkable-container input:checked ~ .custom-checkable{ background-color: var(--logo-color-1); }
        /* Círculo central al checkear el botón */
        .custom-checkable:after {
            content: "";
            position: absolute;
            display: none;
        }
        .checkable-container input:checked ~ .custom-checkable:after { display: block; }
        .checkable-container .custom-checkable:after {
            /* Estilo del círculo central */
            top: calc(var(--checkable-dimension) / 4);
            left: calc(var(--checkable-dimension) / 4);
            width: calc(var(--checkable-dimension) / 2);
            height: calc(var(--checkable-dimension) / 2);
            border-radius: 50%;
            background: white;
        }
/* Formulario de contacto */
.main-form-container .form-container form textarea{
    background-color: var(--logo-color-4);
    box-shadow: 2px 4px 3px rgba(0,0,0,0.35);
    font-family: var(--text-font);
    font-size: 1em;
    border-radius: 5px;
    border: none;
}
.main-form-container .form-container form textarea:focus{
    background-color: var(--logo-color-3);
    box-shadow: 1px 1px 5px var(--logo-color-1);
}
.main-form-container .form-container .map-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .main-form-container .form-container .map-container h2{ text-align: center; }
    .main-form-container .form-container .map-container iframe{
        width: auto;
        height: auto;
        border-radius: 5px;
        box-shadow: 2px 4px 3px rgba(0,0,0,0.35);
    }
/* Carrito de compras */
.main-cart {
    justify-content: flex-start;
    align-items: center;
    min-height: 85vh;
}
    .main-cart h1{
        font-size: 1.8em;
        color: var(--title-dark-blue);
    }
    .cart-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        background-color: var(--background-3);
        border-radius: 3px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
    }
        .cart-products {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            min-height: 30vh;
            padding: 5px;
            border-bottom: solid 1px var(--background-1);
        }
            .cart-item {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin: 20px 0;
            }
                .cart-item img {
                    width: 40%;
                }
                .cart-item-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 50%;
                    height: 130px;
                }
                    .cart-item-info h2 {
                        margin: 5px;
                        font-size: 1em;
                        font-weight: normal;
                        color: var(--text-light-gray);
                    }
                .cart-item-actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 1005;
                }
                    .quantity-selector {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        width: 50px;
                        text-align: center;
                    }
                        .quantity-selector span{
                            padding: 0 10px;
                            font-size: 1rem;
                            line-height: initial;
                            background-color: var(--background-3);
                        }
                        .quantity-selector button{
                            cursor: pointer;
                            border: none;
                            line-height: initial;
                            background-color: var(--background-2);
                            color: var(--logo-color-3);
                            font-size: 1rem;
                            font-weight: bolder;
                            flex-grow: 1;
                        }
        .cart-summary {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 10vh;
            margin: 0 30px;
        }
            .cart-summary-note-container {
                margin-top: 10px;
                text-align: center;
            }
                .cart-summary-note-container span{ color: var(--text-light-gray); }
                .cart-summary-note-container textarea {
                    margin-top: 10px;
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;

                    background-color: var(--logo-color-4);
                    border: 1px solid var(--logo-color-3);
                    color: var(--title-dark-blue);
                    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
                }
                .cart-summary-note-container textarea:focus{
                    background-color: var(--logo-color-3);
                    box-shadow: 1px 1px 5px var(--logo-color-1);
                }
            .cart-summary p {
                align-self: flex-end;
                font-weight: bold;
                position: relative;
                right: 4vw;
            }
        .cart-actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            min-height: 5vh;
        }
            .cart-container .cart-actions button,
            .cart-container .cart-actions .action-button {
                width: 80%;
            }
            .cart-actions-empty {
                border: 0;
                padding: 5px;
                text-decoration: underline;
                cursor: pointer;
                font-family: var(--text-font);
                font-size: 1em;
                color: var(--title-dark-blue);
                background-color: var(--background-3);
            }
    /* Carrito vacío */
    .main-cart .empty-cart-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
        .main-cart .empty-cart-section img{
            width: 100%;
            padding: 10%;
            align-self: center;
        }
        .main-cart .empty-cart-section h2,
        .main-cart .empty-cart-section p{
            text-align: center;
        }
        .main-cart .empty-cart-section p a{ text-decoration: underline; }
/* Productos */
.nav-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
    .navmap-container{
        margin: 15px 0px;
        display: flex;
        justify-content: center;
    }
        .navmap-container a,
        .navmap-container span{
            color: var(--background-2);
        }
    .products-buttons-container{
        display: flex;
        justify-content: space-around;
        background-color: var(--background-3);
    }
        .products-buttons-container button{
            flex-grow: 1;
            cursor: pointer;
            background-color: inherit;
            color: var(--title-dark-blue);
            border-style: none; /* Pisa el borde por defecto p/botones */
            padding: 10px 0;
            font-family: var(--title-font);
            font-size: 1em;
            font-weight: 500;
            text-align: center;
        }
    .products-nav {
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
        .view-options {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
        }
            .order-view {
                display: flex;
                flex-direction: column;
            } 
                .order-view .views {
                    order: 1;
                    padding-bottom: 15px;
                }
                .order-view .order {
                    order: 2;
                }
        .filter-groups dd a {
            padding: 5px;
        }
        .filter-groups dl h2 {
            text-align: center;
        }

/* Productos > tarjetas de productos */
.products-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
}
    .products-section article{
        width: 80%;
        margin: 20px 0;
        align-self: center;
        
        background-color: var(--background-3);
        border-radius: 5px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
    }
        .products-section article img{ 
            width: 100%; 
            height: 300px;
            object-fit: cover;
        }
        
        .products-section article h2{
            color: var(--text-light-gray);
            font-size: 1.2em;
            font-weight: 500;
            text-align: center;
        }
            .products-section-info{
                text-align: center;
                margin-top: 10px;
            }
                .products-section-info-price{
                    color: var(--title-dark-blue);
                    font-size: 1.5em;
                    font-weight: 700;
                    text-align: center;
                }
                .products-section-info-discount{
                    position: relative;
                    bottom: 3px;
                    left: 3px;
                    color: #00a650;
                    font-weight: 500;
                    font-size: 1em;
                }
/* Detalle de producto */
#min-width-carousel-pic{margin-top: 15% !important;}
.product-template {
    display: flex;
    flex-direction: column;
}
    .main-product-detail .carousel {
        min-height: 425px;
    }
    .product-info {
        padding: 10px;
        text-align: center;
    }
        .product-info p:nth-child(2){
            color: var(--title-dark-blue);
            font-size: 1.5em;
            font-weight: 700;
            text-align: center;
        }
        .product-info p:nth-child(3){color: var(--gray-dark);}
    .product-actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px 0;
    }
        .product-actions button{width: 80%;}
    .product-more-info {
        display: flex;
        flex-direction: column;
    }
        .card-header h5 button {
            width: 100%;
            color: var(--title-dark-blue);
            text-align: center;
        } 

/* FORM CARGA PRODUCTOS */

.product-form-container .form-container form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
/* MEDIA QUERIES ------------ */

@media (max-width: 768px) and (orientation: landscape){ /* Correcciones de versión móvil en horizontal */
    /* FOOTER */
    footer .footer-logo{
        width: 50%;
        align-self: center;
        margin: 15px;
    }
    /* SECCIÓN DE PRODUCTOS */
    .products-section{
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
        .products-section article{ width: 45%; }
    /* DETALLE DEL PRODUCTO */
    .main-product-detail{
        width: 90%;
        align-self: center;
    }
    /* CARRITO */
    .main-cart .empty-cart-section img{ width: 60%; }
    /* FORMULARIO DE CONTACTO */
    .main-form-container .form-container .map-container iframe{
        width: 60%;
        align-self: center;
        margin-bottom: 20px;
    }
        .main-form-container .form-container form textarea{ width: 65%; }
}

@media (min-width: 768px){ /* Diseño para tablets */
    /* HEADER */
    .site-header {
        justify-content: space-between;
        width: 100%;
        max-width: 1280px;
            margin: 0.1px auto;
        }
        .site-header-start {
            display: none;
        }
            .site-header-center {
                flex-direction: row;
            }
                .site-header-center-img-1 {
                    width: 100px;
                    margin: 5px 0px 0px 5px;
                }
                .site-header-center-img-2 {
                    width: 450px;
                    margin-left: 10px;
                    position: relative;
                    top: 10px;
                }
                .site-header-end {
                    flex-grow: 0;
                width: 100px;
            }
    .nav-bar {
        display: flex;
        max-width: 1280px;
        width: 100%;
        margin: 0.1px auto;
    }
        .mobile-nav-side-bar {
            display: flex;
            flex-direction: row;
            position: inherit;
            z-index: 0;
            width: 100vw;
            height: 7vh;
            padding: 0;
            margin: 0;
            color: var(--text-light);
            background-color: var(--background-2);
            box-shadow: 0px var(--background-2);
        }
            .mobile-nav-side-bar-close-button {
                display: none;
            }
            .mobile-nav-side-bar-content {
                flex-direction: row-reverse;
                justify-content: space-between;
                align-self: center;
                align-items: center;
                width: 100%;
                padding: 0;
            }
                .mobile-nav-side-bar-content-search-bar {
                    margin: 0px;
                }
                    .mobile-nav-side-bar-content-search-bar input {
                        padding: 10px;
                        margin-right: 10px;
                        width: 25vw;
                        height: 30px;
                        border-radius: 3px;
                    }
                    .mobile-nav-side-bar-content-search-bar button {
                        color: var(--text-light);
                        font-size: 1.25rem;
                        box-shadow: none;
                        margin: 0;
                    }
                .mobile-nav-side-bar-content ul {
                    display: flex;
                    margin: 0px 0px 0px 5px;
                    padding: 0;
                    font-size: 0.9rem;
                }
                    .mobile-nav-side-bar-content ul li {
                        padding: 0 10px;
                        border-bottom: 0;
                    }
                        .mobile-nav-side-bar-content ul li a {
                            color: var(--text-light);
                        }
                    .mobile-nav-side-bar-content-products {
                        display: none;
                        flex-direction: column;
                        position: absolute;
                        background-color: var(--background-1);
                        color: var(--title-dark-blue);
                    }
        .site-cart {
            width: 100px;
            position: inherit;
            margin: 0px 10px 0px 0px;
            box-shadow: none;
            background-color: var(--background-2);
        }

    /* FOOTER */
    footer{
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
        footer section:nth-child(2){ 
            margin-top: 0; 
            width: 25%;
        }
        footer section{
            margin-bottom: 25px;
            margin-top: 5px;
            width: 30%;
        }
            .footer section ul {
                padding: 0;
                margin: 0;
            }
        footer .footer-copyright{
            margin: 0;
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    /* INDEX */
    #carouselExampleCaptions .carousel-inner .carousel-item .carousel-caption{
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        color: var(--text-dark-gray);
    }
    /* FORMULARIOS (REGISTRO, LOGIN, CONTACTO, ETC...) */
    .main-form-container{
        width: 80%;
        align-self: center;
    }
    .contact-form-container{ width: 80% !important; }
        .contact-form-container .form-container form{ padding: 0 10%; }
            .contact-form-container .form-container form textarea{ width: 70%; }
    .register-form-container, 
    .product-form-container { width: 90% !important; }
        .main-form-container .form-container .map-container iframe{
            width: 90%;
            align-self: center;
            margin-bottom: 25px;
        }
    /* DETALLE DEL PRODUCTO */
    .main-product-detail .product-template{
        width: 80%;
        align-self: center;
        margin-top: 3vh;
    }
        .product-template .product-info{ margin-top: 3vh; }
        .product-more-info #accordion .card:first-child{ margin-bottom: 1vh; }
    /* CARRITO */
    .cart-container {
        max-width: 900px;
        margin-bottom: 50px;
    }
        .cart-products {
            padding: 25px;
        }
            .cart-item img {
                max-width: 200px;
            }
            .cart-item-info {
                margin: 0px 50px;
                width: 40%;
                font-size: 1.25rem;
            }
                .cart-item-info h2 {
                    font-size: 1.5rem;
                    font-weight: bold;
                }
                .cart-item-info p span,
                .quantity-selector button,
                .quantity-selector span {
                    font-size: 1.2rem;
                }
                    .quantity-selector {
                        width: 100px;
                    }
        .cart-summary {
            width: 100%;
            margin: 0;
        }        
            .cart-summary p {
                font-size: 1.2rem;
                right: 100px;
            }
            .cart-summary-note-container {
                width: 80%;
            }
            .cart-container .cart-actions button,
            .cart-container .cart-actions .action-button {
                height: 50px;
            } 
        /* CARRITO VACíO */
        .main-cart .empty-cart-section img{ width: 80%; }
    /* PRODUCTOS */
    .nav-section .products-buttons-container {
        height: 5vh;
    }
    .products-section {
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 80vw;
        margin: 20px auto;
    }
        .products-section article {
            width: 40%;
        }
        .products-section article img{ height: 250px; }
}

@media (min-width: 1024px){ /* Diseño desktop */
    /* INDEX */
    .why-us-container {
        flex-direction: row;
        margin: 25px 0px 20px 0px;
    }
        .why-us-container article {
            margin: 20px 10px;
        }
    .our-products-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 68vw;
        margin: 20px 0;
        flex-wrap: wrap;
    }
        .our-products-container article {
            margin: 40px;
            width: 25vw;
            height: 25vw;
        }
    /*FOOTER*/
    footer{ justify-content: space-around; }
    footer .footer-logo{ width: 25%; }
    footer section ul{ margin-right: 4vw; }
    /* FORMULARIOS DE REGISTRO Y LOGIN */
    .main-form-container{ width: 30%; }
    .register-form-container, 
    .product-form-container{ width: 50% !important; }
    /* DETALLE DEL PRODUCTO */
    .main-product-detail .product-template{
        position: relative;
        width: 90%;
        flex-direction: column;
    }
        #carouselExampleIndicators{
            width: 45%;
            margin: 5vh 5% 5vh 0;
        }
        /* Alto fijo para el carrusel de imágenes */
            #carouselExampleIndicators .carousel-inner{ height: 500px !important; }
                /* Sustitución de marcadores por imágenes */
                #carouselExampleIndicators ol li{
                    width: 50px;
                    height: 50px;
                    margin-right: 30px;
                    background-size: contain;
                }
        .product-info{ 
            width: 50%; 
            position: absolute;
            top: 5%;
            left: 50%;
        }
        .product-actions{ 
            width: 50%;
            position: absolute; 
            left: 50%;
        }
        .product-actions{
            top: 30%;
        }
        .product-more-info{
            margin-bottom: 5vh;
        }
    /* PRODUCTOS */
    .main-products {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 2vw;
    }
        .nav-section {
            width: 30vw;
            padding-left: 10px;
        }
            .products-buttons-container {
                display: none;
            }
            .products-nav {
                display: flex;
            }
                .view-options,
                .filter-groups {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    width: 80%;
                    align-items: flex-start;
                }
                    .order-view {
                        flex-direction: row;
                        width: 100%;
                        justify-content: flex-start;
                    }
                        .order-view .order {
                            margin-right: 10px;
                            order: 1;
                        }
                        .order-view .views {
                            order: 2;
                        }
                .filter-groups {
                    display: flex;
                    flex-direction: column;
                    margin-top: 30px;
                }
                    .filter-category,
                    .filter-discount,
                    .filter-delivery {
                        margin: 10px 0;
                    }
                        .filter-category h2,
                        .filter-discount h2,
                        .filter-delivery h2 {
                            margin: 10px 0;
                        }
                        .filter-category h3 {
                            font-size: 1rem;
                        }
                        .filter-groups dl h2 {
                            text-align: start;
                        }
        .products-section {
            width: 70vw;
        }
            .products-section article {
                width: 30%;
                transition: box-shadow 0.3s, background-color 0.3s;
                transition-timing-function: ease-out;
            }
            .products-section article:hover{
                box-shadow: 1px 1px 10px 1px var(--logo-color-1);
                background-color: var(--logo-color-4);
            }
    /* CARRITO */
    .main-cart .empty-cart-section img{ width: 60%; }
    /* FORM PRODUCT CREATE */
    .product-form-container .form-container form div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }
        .product-form-container .form-container form div div {
            display: flex;
            flex-direction: column;
            width: 50%;
        }
}