/* VARIABLES */
:root {
    /* COLORS */
    /* Logo colors */
    --logo-color-1: #3498db;
    --logo-color-2: #85c1e9;
    --logo-color-3: #D6EAF8;
    --logo-color-4: #f0ffff;
    /* Background colors */
    --background-1: #ebebeb;
    --background-2: #283e4a;
    --background-3: #ffffff; 
    /* Text colors */
    --title-dark-blue: #283e4a;
    --text-dark-gray: #333333;
    --text-light-gray: #666666;
    --text-light: #f0ffff;
    /* Alert colors */
    --text-alert: #EF1010;
    /* FONTS */
    --title-font: 'Montserrat', sans-serif;
    --text-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* DIMENSIONES */
    --checkable-dimension: 16px;
}
/* FOR ALL */
* {
    box-sizing: border-box;
    text-decoration: none;
}
h2 {
    font-family: var(--title-font);
    font-size: 1.5rem;
    color: var(--title-dark-blue);
}
/* BODY */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
    margin: 0;

    font-size: 16px;
    font-family: var(--text-font);
    color: var(--text-dark-gray);
    background-color: var(--background-1);
}
/* HEADER */
header {
    display: flex;
    flex-direction: column;
    font-family: var(--title-font);
    color: var(--text-light);
    background-color: var(--background-2);
}
    .site-header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
        .site-header-start {
            padding: 0;
            background-color: var(--background-2);
            border-style: none;
            align-self: stretch;
            flex-grow: 1;
            cursor: pointer;
        }
        .site-header-end {
            padding: 0;
            background-color: var(--background-2);
            border-style: none;
            align-self: stretch;
            flex-grow: 1;
            cursor: pointer;
        }
        .site-header-center {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .site-header-center-img-1 {
                margin-top: 5px;
                width: 75px;
            }
            .site-header-center-img-2 {
                width: 270px;
            }
            .site-header-start i,
            .site-header-end i {
                font-size: 24px;
                color: var(--logo-color-3);
            }
    .site-cart {
        display: flex;
        justify-content: center;
        align-self: center;
        position: fixed;
        bottom: 5vw;
        right: 5vw;
        z-index: 10000;

        width: 55px;
        height: 55px;
        border-radius: 50%;
        border-style: none;
        font-size: 24px;
        background-color: var(--background-2);
        box-shadow: 4px 4px 5px rgba(0,0,0,0.45);
    }
        .site-cart i {
            align-self: center;
            color: var(--logo-color-4);
        }
        .site-cart a {
            align-self: center;
        }
    .site-cart-side-bar {
        display: none; /* Alternará entre none y flex */
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;

        width: 75vw;
        height: 100vh;
        padding: 10px;

        color: var(--title-dark-blue);
        background-color: var(--background-1);
        box-shadow: 0px 0px 10px #666;
    }
        .site-cart-side-bar-close-button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 50vh;
            left: 5vw;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border-style: none;
            font-size: 24px;
            color: var(--logo-color-4);
            background-color: var(--background-2);
            box-shadow: 4px 4px 5px rgba(0,0,0,0.45);
        }
    .mobile-nav-side-bar {
        display: none; /* Alternará entre none y flex */
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 0;

        width: 75vw;
        height: 100vh;
        padding: 10px;

        color: var(--title-dark-blue);
        background-color: var(--background-1);
        box-shadow: 0px 0px 10px #666;
    }
        .mobile-nav-side-bar-close-button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 50vh;
            right: 5vw;
            width: 55px;
            height: 55px;
            border-radius: 50%;
            border-style: none;
            font-size: 24px;
            color: var(--logo-color-4);
            background-color: var(--background-2);
            box-shadow: 4px 4px 5px rgba(0,0,0,0.45);
        }
        .mobile-nav-side-bar-content {
            display: flex;
            flex-direction: column;

            color: var(--background-2);
        }
            .mobile-nav-side-bar-content-search-bar {
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin: 30px 0;;
            }
                .mobile-nav-side-bar-content-search-bar input {
                    height: 50px;
                    padding: 5px 10px;
                    border-radius: 5px;
                    border-style: none;

                    box-shadow: 2px 4px 3px rgba(0,0,0,0.35);
                    background-color: var(--logo-color-4);

                    font-family: var(--text-font);
                    font-size: 1em;
                }
                .mobile-nav-side-bar-content-search-bar button {
                    width: 50px;
                    height: 50px;
                    padding: 5px;
                    border-style: none;
                    border-radius: 5px;
                    font-size: 18px;
                    box-shadow: 2px 4px 3px rgba(0,0,0,0.35);
                    background-color: var(--title-dark-blue);
                    color: var(--text-light);
                }
            .mobile-nav-side-bar-content ul{
                padding: 5px;
                margin: 10px;
                
                list-style: none;
                font-weight: bold;
                font-size: 18px;
            }
                .mobile-nav-side-bar-content ul li {
                    padding: 10px;
                    border-bottom: solid 1px var(--background-2);
                }
                    .mobile-nav-side-bar-content ul li a {
                        color: var(--title-dark-blue);
                    }
                    .mobile-nav-side-bar-content ul li p {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0;
                    }
                        .mobile-nav-side-bar-content ul li p .fa-minus{
                            display: none;
                        }
                    .mobile-nav-side-bar-content ul li ul li {
                        padding: 5px;
                        border: none;
                        font-size: 16px;
                    }

            /*.mobile-nav-side-bar-content-products {
                display: none;  
            } */
/* MAIN */
main {
    flex-grow: 1;
    background-color: var(--background-1);
}
.main-index {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
    .main-index section{
        width: 100vw;
        flex-grow: 1;
    }
    .main-index section h2 {
        font-family: var(--title-font);
        font-weight: 800;
        padding: 5px;
        margin: 10px;
    }
    .photo-carousel img {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .featured-products {
        text-align: center;
    }
        .featured-products div {
            width: 100vw;
            height: 400px;
            background-color: white;
        }
    .why-us {
        padding: 10px;
        text-align: center;
        color: var(--text-light);
        background-color: var(--background-2);
    }
        .why-us h2 {
            color: var(--text-light);
        }
        .why-us-container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }
            .why-us-container article {
            width: 75%;
            margin: 20px 0;
            }
            .why-us-container article i {
            font-size: 36px;
            color: #fbd581;
            
            }
            .why-us-container article h3 {
                font-family: var(--title-font);
                font-size: 1.25rem;
                font-weight: bold;
                margin: 15px 0;
            }
            .why-us-container article p {
                font-family: var(--text-font);
                margin: 0;
            }
    .our-products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
        .our-products h2 {
            color: var(--title-dark-blue);
            font-family: var(--title-font);
        }
        .our-products article {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 315px;
            height: 315px;
            margin: 20px auto;
            font-family: var(--title-font);
            box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
        }
            .our-products-workplace-stations {
                background-image: url(/img/our-products-workplace-station.jpg);
                background-size: cover;
            }
            .our-products-desks {
                background-image: url(/img/our-products-desks.jpg);
                background-size: cover;
            }
            .our-products-chairs {
                background-image: url(/img/our-products-chair.jpg);
                background-size: cover;
            }
            .our-products-accesories {
                background-image: url(/img/our-products-accesories.jpg);
                background-size: cover;
            }
                .our-products article h3 {
                    padding: 5px;
                    margin: 10px;

                    border-radius: 3px;
                    
                    font-size: 1.2rem;
                    font-weight: 600;
                    color: var(--title-dark-blue);
                    background-color: rgba(255, 255, 255, 0.8);
                    box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
                }
                .our-products article button {
                    margin: 10px;
                    padding: 5px;
                    border-radius: 3px;
                    border: none;
                    cursor: pointer;
                    background-color: var(--background-2);
                    box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
                }
                    .our-products article button a{
                        color: var(--text-light);
                        font-family: var(--title-font);
                        font-weight: 600;
                        font-size: 1rem;
                    }
/* FOOTER */
footer {
    padding: 10px;
    text-align: center;
    font-family: var(--text-font);
    color: var(--text-light);
    background-color: var(--background-2);
}
    footer p {
        margin: 0;
    }


/* Forms de registro y login */
.alert-label{
    display: none;
    color: var(--text-alert);

    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
}
.main-form-container{
    margin: 5vh 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .form-container{
        width: 90%;
        padding: 10px;
        align-self: center;

        background-color: var(--background-3);
        border-radius: 3px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
    }
        .form-container h1{
            margin-top: 10px;
            color: var(--title-dark-blue);
            font-style: italic;
            text-align: center;
        }
        .form-container form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
            .form-container form input{
                width: 80%;
                margin-bottom: 15px;
                padding: 5px 10px;
                border-radius: 5px;

                font-family: var(--text-font);
                font-size: 1em;
                
                border-style: none;
                box-shadow: 2px 4px 3px rgba(0,0,0,0.35);
                background-color: var(--logo-color-4);
            }
            .form-container form input:focus { /* Cambia el estilo resaltando el input al seleccionarlo */
                background-color: var(--logo-color-3);
                box-shadow: 1px 1px 5px var(--logo-color-1);
            }
            .form-container form a{
                margin-bottom: 5px;
                font-size: 0.9em;
                text-decoration: none;
                color: var(--title-dark-blue);
            }
            .form-container form .checkable-container{
                width: auto;
                margin-bottom: 10px;
                color: var(--title-dark-blue);
            }
            
            #login-alert{ margin-top: 15px; }

            .form-button{
                width: 40%;
                margin: 15px 0px;
                padding: 5px;
                cursor: pointer;

                background-color: var(--title-dark-blue);
                color: var(--text-light);
                box-shadow: 1px 2px 3px rgba(0,0,0,0.7);
                border-style: none;
                border-radius: 5px;

                font-weight: bold;
                font-size: 0.9em;
                text-align: center;
            }
/* Estilos específicos del formulario de registro */
.input-label{ 
    font-size: 1.2em;
    color: var(--text-light-gray);
    text-align: center;
}
.gender-radio-container,
.interests-checkbox-container{
    color: var(--text-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gender-radio-container{
    width: 50%;
    margin: 20px 0px;
}

    /* Anula el estilo por defecto del input tipo file y usa una 
       etiqueta con el estilo de los botones de formularios */
    #profile-photo{ display: none; }
    /* Anulación del estilo por defecto de radio buttons y 
       checboxes y aplicación de estilo propio */
    .checkable-container{
        display: block;
        position: relative;
        cursor: pointer;
        width: 100%;
        /* Deja sobreescribir la apariencia del elemento */
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
        .gender-radio-container label:first-child,
        .interests-checkbox-container label:first-child{
            margin-bottom: 10px;
            font-size: 1.5em;
        }
        .checkable-container input{
            /* Oculta el selector por defecto */
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
            cursor: pointer;
        }
        .custom-checkable{
            /* Radio button con estilo propio */
            position: absolute;
            bottom: 0;
            right: calc( -2 * var(--checkable-dimension));
            height: var(--checkable-dimension);
            width: var(--checkable-dimension);

            background-color: var(--background-1);
            border-radius: 50%;
        }
        /* Fondo al pasar el cursor */
        .checkable-container:hover .custom-checkable{ background-color: var(--logo-color-2); }
        /* Fondo al ser seleccionado */
        .checkable-container input:checked ~ .custom-checkable{ background-color: var(--logo-color-1); }
        /* Círculo central al checkear el botón */
        .custom-checkable:after {
            content: "";
            position: absolute;
            display: none;
        }
        .checkable-container input:checked ~ .custom-checkable:after { display: block; }
        .checkable-container .custom-checkable:after {
            /* Estilo del círculo central */
            top: calc(var(--checkable-dimension) / 4);
            left: calc(var(--checkable-dimension) / 4);
            width: calc(var(--checkable-dimension) / 2);
            height: calc(var(--checkable-dimension) / 2);
            border-radius: 50%;
            background: white;
        }

/* Carrito de compras */
.main-cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 85vh;
}
    .main-cart h1{
        font-size: 1.9em;
        color: var(--title-dark-blue);
    }
    .cart-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 10px;
        margin-bottom: 20px;
        background-color: var(--background-3);
        border-radius: 3px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
    }
        .cart-products {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            min-height: 30vh;
            padding: 5px;
            border-bottom: solid 1px var(--background-1);
        }
            .cart-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                margin: 20px 0;
            }
                .cart-item img {
                    width: 40%;
                }
                .cart-item-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 60%;
                    height: 130px;
                }
                    .cart-item-info h2 {
                        margin: 5px;
                        font-size: 1em;
                        font-weight: normal;
                        color: var(--text-light-gray);
                    }
                .cart-item-actions {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 1005;
                }
                    .quantity-selector {
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        height: 20px;
                        border-radius: 5px;
                        text-align: center;
                        background-color: var(--background-1);
                        
                    }
                        .quantity-selector span{
                            padding: 0 10px;
                            font-size: 1rem;
                            line-height: initial;
                        }
                        .quantity-selector button{
                            cursor: pointer;
                            border: none;
                            line-height: initial;
                            background-color: var(--background-2);
                            color: var(--logo-color-3);
                            font-size: 1rem;
                        }
        .cart-summary {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            min-height: 10vh;
            margin: 0 30px;
        }
            .cart-summary-note-container {
                margin-top: 10px;
                text-align: center;
            }
                .cart-summary-note-container span{ color: var(--text-light-gray); }
                .cart-summary-note-container textarea {
                    margin-top: 10px;
                    width: 100%;
                    padding: 10px;
                    border-radius: 5px;

                    background-color: var(--logo-color-4);
                    border: 1px solid var(--logo-color-3);
                    color: var(--title-dark-blue);
                    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
                }
                .cart-summary-note-container textarea:focus{
                    background-color: var(--logo-color-3);
                    box-shadow: 1px 1px 5px var(--logo-color-1);
                }
            .cart-summary p {
                align-self: flex-end;
            }
        .cart-actions {
            display: flex;
            justify-content: space-around;
            min-height: 5vh;
        }
            .cart-actions-empty {
                border: 0;
                padding: 5px;
                text-decoration: underline;
                cursor: pointer;
                font-family: var(--title-font);
                font-size: 0.9em;
                color: var(--title-dark-blue);
                background-color: var(--background-3);
            }

/* Estilos de la sección de productos */
.nav-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .navmap-container{
        margin: 15px 0px;
        display: flex;
        justify-content: center;
    }
        .navmap-container a,
        .navmap-container span{
            color: var(--background-2);
        }

    .product-buttons-container{
        padding: 5px 0px;
        display: flex;
        justify-content: space-evenly;
        background-color: var(--logo-color-3);
        border-bottom: 1px solid var(--logo-color-2);
    }
        .product-buttons-container button{
            flex-grow: 1;
            cursor: pointer;
            background-color: inherit;
            color: var(--title-dark-blue);
            border-style: none; /* Pisa el borde por defecto p/botones */
            border-right: 1px solid var(--logo-color-2);

            font-size: 1em;
            font-weight: bold;
            text-align: center;
        }
            .distributions button{ border-right: none; }
/* Sección de tarjetas de productos */
.products-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .products-section article{
        width: 90%;
        margin: 20px 0;
        align-self: center;
        
        background-color: var(--background-3);
        border-radius: 5px;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.35);
    }
        .products-section article img{ width: 100%; }
        
        .products-section article h2{
            margin-left: 10px;
            margin-bottom: 10px;

            color: var(--text-light-gray);
            font-size: 1.2em;
            font-weight: normal;
        }
            .products-section-info{
                display: flex;
                padding-left: 20px;
                padding-bottom: 20px;
            }
                .products-section-info-price{
                    flex-grow: 1;
                    color: var(--text-light-gray);
                    font-size: 1.2em;
                    text-align: center;
                }
                .products-section-info-discount{
                    align-self: end;
                    flex-grow: 3;
                    
                    color: green;
                    font-weight: bold;
                    font-size: 1.1em;
                    text-align: center;
                }
/* Detalle de producto */
.main-product-detail {
    display: flex;
    flex-direction: column;
}
    .product-template {
        display: flex;
        flex-direction: column;
    }
        /* .product-template img {
            width: 100%;
            box-shadow: 4px 4px 5px rgba(0,0,0,0.45);
        } */
        .main-product-detail .carousel {
            min-height: 425px;
        }
        .product-info {
            padding: 10px;
            text-align: center;
        }
        .product-actions {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 25px 0;
        }
            .product-actions .form-button {
                width: 80%;
            }
        .product-more-info {
            display: flex;
            flex-direction: column;
        }
            .card-header h5 button {
                width: 100%;
                color: var(--title-dark-blue);
                text-align: center;
            } 