<%/*
    Partial correspondiente a cada artículo a ser mostrado dentro del carrito de compras.
    Variables necesarios:
    {string - url} imageSrc - URL de la imagen, teniendo en cuenta que esta comienza dentro de la
                              carpeta PUBLIC. Por ejemplo: "/img/imagen-del.producto.jpg"
    {string} productTitle - Título del producto
    {number >= 0}price - Precio del producto
    {number > 0, entero} productQuantity - Cantidad de unidades iniciales del producto
*/%>

<article class="cart-item">
    <img src="<%= imageSrc %>" alt="Imagen ilustrativa del producto">
    <div class="cart-item-info">
        <h2><%= productTitle %></h2>
        <p><span>$<%= price %></span></p>
        <div class="cart-item-actions">
            <div class="quantity-selector">
                <button>-</button>
                <span><%= productQuantity %></span>
                <button>+</button>
            </div>
            <button class="cart-actions-empty">Eliminar</button>
        </div>
    </div>
</article>