<footer>
    <section class="footer-logo">
        <img src="/img/isotipo-workplace-station.png" alt="Isotipo de la marca">
        <img src="/img/logotipo-workplace-station.png" 
            alt="Logotipo y eslogan de la marca">
    </section>

    <section>
        <ul>
            <li>
                <i class="fab fa-whatsapp"></i><a href="tel:+549 11 52368621"> +549 1152368621</a>
            </li>
            <li>
                <i class="fas fa-map-marker-alt"></i><a href="https://goo.gl/maps/i1c11e24RTx7cePVA">  Calle Falsa 123, CABA</a>
            </li>
            <li>
                <i class="fas fa-envelope"></i><a href="mailto:contacto@workplacestation.com"> contacto@workplacestation.com</a>
            </li>
        </ul>
    </section>

    <section>
        <h2>Mapa del Sitio</h2>
        <ul>
            <li>
                <a href="/products">Productos</a>
            </li>
            <li>
                <a href="/contact">Contacto</a>
            </li>
            <% if(locals.user && locals.user.isAdmin) { %>
                <li>
                    <a href="/products/create">Vender Producto</a>
                </li>
            <% } %>  
            <% if(!locals.user) { %>
                <li>
                    <a href="/users/login">Ingresar</a>
                </li>
                <li>
                    <a href="/users/register">Registrarse</a>
                </li>
            <% } else { %>
                <li>
                    <form action="/users/logout" method="POST">
                        <button type="submit" class="footer-logout">Cerrar Sesión</button>
                    </form>
                </li>
            <% } %>  
        </ul>
    </section>

    <section class="footer-copyright">
        <p>
            Workplace Station <strong>©</strong> - Todos los derechos reservados.
        </p>
    </section>
</footer>