<header>

    <div class="site-header flex">
        <button class="site-header-start">
            <i class="fas fa-bars"></i>
        </button>
        <div class="site-header-center flex column">
            <a href="/">
                <img class="site-header-center-img-1" src="/img/isotipo-workplace-station.png"
                    alt="Isotipo Workplace Station">
            </a>
            <a href="/">
                <img class="site-header-center-img-2" src="/img/logotipo-y-eslogan-workplace-station.png"
                    alt="Logotipo y Eslogan Workplace Station">
            </a>
        </div>
        <div class="site-header-end flex">
            <button class="site-header-end-button">
                <% if(locals.user) { %>
                    <a href="/users/profile" class="flex column">
                        <i class="far fa-user"></i>
                        <p> <%= locals.user["user-name"] %> </p>
                    </a>
                <% } else { %> 
                    <a href="/users/login" class="flex column">
                        <i class="far fa-user"></i>
                    </a>
                <% } %> 
            </button>
            <% if (locals.user) { %>
                <form action="/users/logout" class="flex column">
                    <button type="submit" class="site-header-logout"><i class="fas fa-sign-out-alt"></i></button>
                </form>
            <% } %> 
        </div>
    </div>

    <div class="nav-bar flex">
        <nav class="mobile-nav-side-bar column">
            <button class="mobile-nav-side-bar-close-button">
                <i class="fas fa-times"></i>
            </button>
            <div class="mobile-nav-side-bar-content flex column">
                <p class="mobile-nav-side-bar-content-search-bar flex">
                    <input type="text" class="input-text" placeholder="Buscar productos...">
                    <button type="submit" class="action-button"><i class="fas fa-search"></i></button>
                </p>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>
                        <a href="/products">Productos</a>
                        <ul class="mobile-nav-side-bar-content-products">
                            <li><a href="#">Todos</a></li>
                            <li><a href="#">Estaciones de trabajo</a></li>
                            <li><a href="#">Escritorios</a></li>
                            <li><a href="#">Sillas</a></li>
                            <li><a href="#">Accesorios</a></li>
                        </ul>
                    </li>
                    <li><a href="/about-us">Sobre nosotros</a></li>
                    <li><a href="/contact">Contacto</a></li>
                    <% if(locals.user && locals.user.isAdmin) { %> 
                        <li><a href="/products/create">Vender</a></li>
                    <% } else {} %> 
                </ul>
            </div>
        </nav>
        <button class="site-cart">
            <a href="/products/cart"><i class="fas fa-shopping-cart"></i></a>
        </button>
    </div>

    <div class="site-cart-side-bar">
        <button class="site-cart-side-bar-close-button">
            <i class="fas fa-times"></i>
        </button>
        <div class="site-cart-side-bar-content">
        </div>
    </div>
    
</header>