<!DOCTYPE html>
<html lang="es">
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - Contactanos",
    description: "¿Te quedó alguna duda? ¡Contactanos!",
    keywords: "Workplace Station, contactanos, formulario de contacto"}) %>

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>

    <main class="main-about-us">
        <section class="about-us-header">
            <h1>Sobre nosotros</h1>
        </section>
        <section class="about-us-main">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, delectus animi ducimus illum iure totam error similique consectetur. Alias, sequi? Architecto ipsam recusandae, aliquam natus quasi dolorem reprehenderit dicta molestiae perspiciatis ipsa fuga veniam obcaecati atque optio, iure velit aliquid repellendus sapiente quia soluta voluptatum totam! Corrupti soluta aspernatur exercitationem. Vitae totam distinctio libero ea veritatis alias. Consequatur commodi dignissimos ratione nemo. Quisquam voluptatibus explicabo consequuntur praesentium sapiente iure libero enim nisi saepe neque, suscipit fuga voluptas repellat perspiciatis itaque eligendi dolorum voluptate nesciunt id porro sint aut pariatur dignissimos. Sint velit illum consequatur perferendis, aliquid minus magnam blanditiis nemo.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat corrupti dolores officiis vero atque modi minus excepturi nesciunt vel laudantium. Itaque aliquam reiciendis culpa, maxime facere possimus ipsa aut dicta tempore. Laudantium dolorem placeat, eaque quasi exercitationem alias quas accusamus quod eos, fugit maxime eligendi illum at nulla molestias tenetur!</p>
        </section>
        <section class="why-us our-pillars">
            <h2>Nuestros pilares</h2>
            <div class="why-us-container flex column">
                <article class="why-us-container-start">
                    <i class="fas fa-chair"></i>
                    <h3>Ergonomía</h3>
                    <p>Óptima</p>
                </article>
                <article class="why-us-container-center">
                    <i class="fas fa-dice-d6"></i>      
                    <h3>Diseño</h3>
                    <p>Innovador</p>
                </article>
                <article class="why-us-container-end">
                    <i class="fas fa-couch"></i>
                    <h3>Confort</h3>
                    <p>Asegurado</p>
                </article>
                <article class="why-us-container-end">
                    <i class="fas fa-award"></i>
                    <h3>Calidad</h3>
                    <p>De primera linea</p>
                </article>
            </div>
        </section>
        <section class="about-us-history">
            <h2>Nuestra historia</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum, delectus animi ducimus illum iure totam error similique consectetur. Alias, sequi? Architecto ipsam recusandae, aliquam natus quasi dolorem reprehenderit dicta molestiae perspiciatis ipsa fuga veniam obcaecati atque optio, iure velit aliquid repellendus sapiente quia soluta voluptatum totam! Corrupti soluta aspernatur exercitationem. Vitae totam distinctio libero ea veritatis alias. Consequatur commodi dignissimos ratione nemo. Quisquam voluptatibus explicabo consequuntur praesentium sapiente iure libero enim nisi saepe neque, suscipit fuga voluptas repellat perspiciatis itaque eligendi dolorum voluptate nesciunt id porro sint aut pariatur dignissimos. Sint velit illum consequatur perferendis, aliquid minus magnam blanditiis nemo.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat corrupti dolores officiis vero atque modi minus excepturi nesciunt vel laudantium. Itaque aliquam reiciendis culpa, maxime facere possimus ipsa aut dicta tempore. Laudantium dolorem placeat, eaque quasi exercitationem alias quas accusamus quod eos, fugit maxime eligendi illum at nulla molestias tenetur!</p>
        </section>
    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %>

</body>
</html>