<!DOCTYPE html>
<html lang="es">

<%# Import del HEAD del documento %>
<%- include("../partials/head", {usesBootstrap: false, title: "Workplace Station - error 404",
    description: "¡En Workplace Station te ofrecemos todo lo necesario para armar tu estación de trabajo! ¡Formá parte de nuestra plataforma y tené acceso a todos nuestros productos!",
    keywords: "Workplace Station, estaciones de trabajo, escritorios, sillas ergonómicas, accesorios"}) %>

<body>
    <%# Import del HADER %>
    <%- include("../partials/header") %>
    
    <main>
        <div class="error-container">
            <h2>Error al intentar acceder a <%= path %> </h2>
            <img src="/img/404.gif" class="404-img" alt="GIF de error 404">
        </div>
    </main>

    <%# Import del footer %>
    <%- include("../partials/footer") %> 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
    </script>
</body>

</html>