<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Description for SEO -->
    <meta name="description" content="¿Querés formar parte de nuestra plataforma? ¡Tené acceso ilimitado a todos nuestros servicios!">
    <!-- Key Words for SEO -->
    <meta name="keywords" content="Workplace Station, formulario, registro, crear cuenta">
    <!-- Authors -->
    <meta name="author" content="Brahim Alí y Sebastián Rellihan">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <!-- Browser page icon -->
    <link rel="icon" href="/img/favicon.ico">
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <title>Workplace Station - Registrate</title>
</head>

<body>

    <header>
        <div class="site-header">
            <button class="site-header-start">
                <i class="fas fa-bars"></i>
            </button>
            <div class="site-header-center">
                <a href="/">
                    <img class="site-header-center-img-1" src="/img/isotipo-workplace-station.png"
                        alt="Isotipo Workplace Station">
                </a>
                <a href="/">
                    <img class="site-header-center-img-2" src="/img/logotipo-y-eslogan-workplace-station.png"
                        alt="Logotipo y Eslogan Workplace Station">
                </a>
            </div>
            <button class="site-header-end">
                <a href="/users/login"><i class="far fa-user"></i></a>
            </button>
        </div>
        <div class="nav-bar">
            <nav class="mobile-nav-side-bar">
                <button class="mobile-nav-side-bar-close-button">
                    <i class="fas fa-times"></i>
                </button>
                <div class="mobile-nav-side-bar-content">
                    <p class="mobile-nav-side-bar-content-search-bar">
                        <input type="text" class="input-text" placeholder="Buscar productos...">
                        <button type="submit" class="action-button"><i class="fas fa-search"></i></button>
                    </p>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li>
                            <a href="/products">Productos</a>
                            <!-- <ul class="mobile-nav-side-bar-content-products">
                                <li><a href="#">Todos</a></li>
                                <li><a href="#">Estaciones de trabajo</a></li>
                                <li><a href="#">Escritorios</a></li>
                                <li><a href="#">Sillas</a></li>
                                <li><a href="#">Accesorios</a></li>
                            </ul> -->
                        </li>
                        <li><a href="#">Quienes somos</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
            </nav>
            <button class="site-cart">
                <a href="/cart"><i class="fas fa-shopping-cart"></i></a>
            </button>
        </div>
        <div class="site-cart-side-bar">
            <button class="site-cart-side-bar-close-button">
                <i class="fas fa-times"></i>
            </button>
            <div class="site-cart-side-bar-content">
            </div>
        </div>
    </header>

    <main class="main-form-container register-form-container">

        <div class="form-container">
            <h1> Registro <i class="far fa-id-badge"></i></h1>

            <form action="" method="GET">
                <!-- Información personal -->
                <input type="text" class="input-text" name="name" id="name" placeholder="Nombre/s (*)" 
                    autocomplete="true" required>
                <input type="text" class="input-text" name="last-name" id="last-name" placeholder="Apellido/s (*)" 
                    autocomplete="true" required>
                <input type="email" class="input-text" name="email" id="email" placeholder="Dirección de e-mail (*)" 
                    autocomplete="true" required>

                <div class="gender-radio-container">
                    <label for="gender" class="input-label">Género</label>

                    <label class="checkable-container" id="masc-radio">
                        <span>Masculino</span>
                        <input type="radio" name="gender" value="1">
                        <span class="custom-checkable"></span>
                    </label>

                    <label class="checkable-container" id="fem-radio">Femenino
                        <input type="radio" name="gender" value="2">
                        <span class="custom-checkable"></span>
                    </label>

                    <label class="checkable-container" id="other-radio">Otro
                        <input type="radio" name="gender" value="3" checked>
                        <span class="custom-checkable"></span>
                    </label>
                </div>

                <label for="birth" class="input-label">Fecha de nacimiento (*)</label>
                <input type="date" class="input-text" name="birth" id="birth" placeholder="dd/mm/aaaa" required>
                <p class="alert-label" id="underage-alert-label">¡Debe ser mayor de edad para poder registrarte!</p>

                <input type="text" class="input-text" name="adress" id="adress" placeholder="Domicilio (*)" 
                    autocomplete="true" required>

                <input type="tel" class="input-text" name="cellphone-number" id="cellphone-number" placeholder="Número de teléfono celular (*)"
                autocomplete="true">
                <p class="alert-label" id="cellnumber-alert-label">Debe ingresar un número válido</p>
                <input type="tel" class="input-text" name="phone-number" id="phone-number" placeholder="Número de teléfono (*)"
                    autocomplete="true">
                <p class="alert-label" id="telnumber-alert-label">Debe ingresar un número válido</p>

                <!-- Información de perfil -->
                <input type="text" class="input-text" name="user-name" id="user-name" placeholder="Nombre de usuario (*)" 
                    autocomplete="true" required>
                <label for="password" class="input-label">8 caracteres como mínimo.</label>
                <input type="password" class="input-text" name="password" id="password" placeholder="Contraseña (*)" 
                    autocomplete="true" required>
                <p class="alert-label" id="password-alert-label">Debe ingresar una contraseña válida</p>
                <input type="password" class="input-text" name="repeat-password" id="repeat-password" placeholder="Repetir contraseña (*)" 
                    autocomplete="true" required>
                <p class="alert-label" id="unmatched-password-alert-label">Ambas contraseñas deben coincidir.</p>

                <label class="action-button">
                    <input type="file" name="profile-photo" id="profile-photo">
                    Foto de perfil
                </label>

                <!-- Miscelánea + botones de envío y reseteo -->
                
                <div class="interests-checkbox-container">
                    <label for="interests" class="input-label">Intereses</label>

                    <label class="checkable-container">Estaciones de trabajo
                        <input type="checkbox" name="interests" id="ws-check" value="1">
                        <span class="custom-checkable"></span>
                    </label>
                    
                    <label class="checkable-container">Escritorio
                        <input type="checkbox" name="interests" id="desktop-check" value="2">
                        <span class="custom-checkable"></span>
                    </label>
                    
                    <label class="checkable-container">Sillas ergonómicas
                        <input type="checkbox" name="interests" id="sits-check" value="3">
                        <span class="custom-checkable"></span>
                    </label>

                    <label class="checkable-container">Accesorios
                        <input type="checkbox" name="interests" id="accesories-check" value="4">
                        <span class="custom-checkable"></span>
                    </label>
                    
                </div>

                <p class="input-label">
                    Los campos indicados con (*) son obligatorios.
                </p>

                <button type="submit" class="action-button">Enviar</button>
                <button type="reset" class="action-button">Resetear</button>

            </form>

        </div>

    </main>

    <!-- Import del footer -->
    <%- include("../partials/footer") %>

</body>

</html>